{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}

<p>
<h2>What is this?</h2>
DBNL2DraCor transforms xml from DBNL to more DraCor friendly output.<br>
Output can be used to create new DutchDraCor files.<br>
Batch conversion and extraction supported like so:
<pre style='color: green; font-color: white; margin-left: 40px;'>
curl -s {{ opdict['tool_url'] }}/batch/?mode=remove&id=croi003gewa01 > croi003gewa01.xml
curl -s {{ opdict['tool_url'] }}//batch/?mode=remove&id=eemb001haer01  > eemb001haer01.xml
curl -s {{ opdict['tool_url'] }}//batch/?mode=extract&id=croi003gewa01 > croi003gewa01_speakers.xml
curl -s {{ opdict['tool_url'] }}//batch/?mode=extract&id=eemb001haer01  > eemb001haer01_speakers.xml
</pre>
<br>

<h3>Please select operation: </h3>
<form style='margin-left: 40px;'>
    <input type="radio" id="remove" name="action" value="remove" {{'checked' if opdict['mode'] == 'remove' else '' }}>
    <label for="remove">Remove unwanted xml sections.</label><br>
    <input type="radio" id="extract" name="action" value="extract" {{'checked' if opdict['mode'] == 'extract' else '' }}>
    <label for="extract">Extract speakerlist.</label>
</form>
</p>

<div id="content-div" class="toggle-div visible">
    {% if opdict['mode'] == 'remove' %}
     <form method="post" action='/'>
     <label for="url"><b>DBNL input XML: </b></label><br>
     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="text" size="60" name="url" value='{{ opdict['url'] }}'></input><br><br>
    <input type="checkbox" id="remove_pb" name="op" value="remove_pb" {{'checked' if opdict['remove_pb'] else ''}}>
    <label for="pb"> "pb" elementen inclusief attributen pb.*?</label><br>
    <input type="checkbox" id="remove_hi" name="op" value="remove_hi" {{'checked' if opdict['remove_hi'] else ''}}>
    <label for="hi"> "hi" elementen inclusief attributen, exclusief inhoud hi.*? + hi.*?\n.*? + hi</label><br>
    <input type="checkbox" id="remove_rend" name="op" value="remove_rend" {{'checked' if opdict['remove_rend'] else ''}}>
    <label for="rend"> "rend" attributen inclusief waardes rend=".*?</label><br>
    <input type="checkbox" id="remove_xptr" name="op" value="remove_xptr" {{'checked' if opdict['remove_xptr'] else ''}}>
    <label for="xptr"> elementen inclusief attributen xptr.*?</label><br>
    <input type="checkbox" id="remove_note" name="op" value="remove_note" {{'checked' if opdict['remove_note'] else ''}}>
    <label for="note"> elementen inclusief attributen note.*?</label><br><br>
    <input type="submit" value="Remove unwanted xml" style='margin-left: 200px;'><br>
  </form>
  {% else %}
    <form method="post" action='/extract'>
       <label for="url"><b>DBNL input XML: </b></label><br>
       &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="text" size="60" name="url" value='{{ opdict['url'] }}'></input><br><br>
       <input type="submit" value="Extract speakerlist" style='margin-left: 200px;'><br>
    </form>
  {% endif %}
</div>

<div id="extract-content" class="hidden-content">
  <form method="post" action='/extract'>
   <label for="url"><b>DBNL input XML: </b></label><br>
   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="text" size="60" name="url" value='{{ opdict['url'] }}'></input><br><br>
   <input type="submit" value="Extract speakerlist" style='margin-left: 200px;'><br>
  </form>
</div>

<div id="form-content" class="hidden-content">
 <form method="post" action='/'>
     <label for="url"><b>DBNL input XML: </b></label><br>
     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="text" size="60" name="url" value='{{ opdict['url'] }}'></input><br><br>
    <input type="checkbox" id="remove_pb" name="op" value="remove_pb" {{'checked' if opdict['remove_pb'] else ''}}>
    <label for="pb"> "pb" elementen inclusief attributen pb.*?</label><br>
    <input type="checkbox" id="remove_hi" name="op" value="remove_hi" {{'checked' if opdict['remove_hi'] else ''}}>
    <label for="hi"> "hi" elementen inclusief attributen, exclusief inhoud hi.*? + hi.*?\n.*? + hi</label><br>
    <input type="checkbox" id="remove_rend" name="op" value="remove_rend" {{'checked' if opdict['remove_rend'] else ''}}>
    <label for="rend"> "rend" attributen inclusief waardes rend=".*?</label><br>
    <input type="checkbox" id="remove_xptr" name="op" value="remove_xptr" {{'checked' if opdict['remove_xptr'] else ''}}>
    <label for="xptr"> elementen inclusief attributen xptr.*?</label><br>
    <input type="checkbox" id="remove_note" name="op" value="remove_note" {{'checked' if opdict['remove_note'] else ''}}>
    <label for="note"> elementen inclusief attributen note.*?</label><br><br>
    <input type="submit" value="Remove unwanted xml" style='margin-left: 200px;'><br>
  </form>
</div>


<script>
    const removeRadio = document.getElementById('remove');
    const extractRadio = document.getElementById('extract');
    const contentDiv = document.getElementById('content-div');

    const extractContent = document.getElementById('extract-content').innerHTML;
    const formContent = document.getElementById('form-content').innerHTML;

    // Function to update div content with fade effect
    function updateContent(newContent) {
        contentDiv.classList.remove('visible');
        contentDiv.classList.add('hidden');

        // Wait for fade-out to complete, then update the content and fade in
        setTimeout(() => {
            contentDiv.innerHTML = newContent;
            contentDiv.classList.remove('hidden');
            contentDiv.classList.add('visible');
        }, 500); // Match fade-out transition
    }

    // Radio button event listeners
    removeRadio.addEventListener('change', function () {
        if (removeRadio.checked) {
            updateContent(formContent);
        }
    });

    extractRadio.addEventListener('change', function () {
        if (extractRadio.checked) {
            updateContent(extractContent);
        }
    });

    // Initialize with the form content
    contentDiv.classList.add('visible');
</script>
  {% if xml_data %}
  <br>

  {% if opdict['mode'] == 'remove' %}
  Removed <font style='color: red'> {{ opdict['stats'] }} </font> bytes.<br><br>
  {% endif %}

  <form id="xmlForm">
        <textarea id="xmlEditor"></textarea>
    </form>
    <script>
        const initialXML = `{{ xml_data | safe }}`;
        const editor = CodeMirror.fromTextArea(document.getElementById('xmlEditor'), {
            theme: 'default', 
            readOnly: true,
            cursorBlinkRate: -1,
            mode: "xml",
            matchTags: {bothTags: true},
            styleActiveLine: true,
            lineNumbers: true,
            indentWithTabs: true,
            indentUnit: 4,
        });
        editor.setValue(initialXML);
    </script>
  {% endif %}
{% endblock %}
